@media screen  and (max-width: 1400px) {
    .skills{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        max-width: 800px;
        margin: auto;
        padding-top: 0;
    }
    
    .projects{
        display: flex;
        align-items: center;
        width: 90%;
        margin: 0 auto;
      
    }

    .project1, .project2, .project3 {
        width: 90%;
        margin: 0 auto;
    }

}

@media screen and (min-width: 1200px) {
    .theme-switch-hamburger {
        display: none; 
    }
}


@media screen and (max-width: 1199px) {
    .navigation_links {
        display: none; 
    }

    .theme-switch-hamburger {
        display: block !important; 
    }

    .nav-wrapper {
        display: flex;
        align-items: center;
      gap: 16rem;
        flex-direction: row-reverse;
       
    }

    #hamburger-nav, .theme-switch-hamburger {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 4rem;
        margin-left: 12rem;
        margin-right: 12rem;
        margin-bottom: 3rem;
        z-index: 1000;
        
    }

   

    .navigation_links .theme-switch {
        display: none;
    }

    .homepage{
        margin-top: 3.5rem;
        width: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        justify-items: center;
        margin: 0 auto;
        transform: scale(0.95);
    }

  
    .aboutme{
        margin-top: 9rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
    }
}

@media screen and (max-width: 991px){
    .nav-wrapper {
        display: flex;
        align-items: center;
        gap: 9rem;
        flex-direction: row-reverse;
       
    }

    #hamburger-nav, .theme-switch-hamburger {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 4rem;
        margin-left: 12rem;
        margin-right: 12rem;
        margin-bottom: 3rem;
        z-index: 1000;
    }
    .homepage{
        margin-top: 3rem;
        width: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        justify-items: center;
        margin: 0 auto;
        transform: scale(0.93);
    }
    .aboutme{
        margin-top: 5rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        
    }
    .aboutmebox{
        width: 90%;
        margin: 0 auto;
    }
    .aboutmeboxtext{
      font-size: 16px;
    }


    .skillspage{
        padding-bottom: 14rem;
    }
.projecttext{
    font-size: 20px;
}
    .projectpage{
        padding-top: 2.5rem;
        padding-bottom: 4.5rem;
    }

    .projects{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
        max-width: 450px;
        margin: 0 auto;
    }

    .project1image, .project2image, .project3image{
        width: 350px;
    
    }

    .project1, .project2{
        width: 45%;
        display: flex;
        justify-content: center;
    }
   .contactpage{
    /* 23.5 pag sagad padding */
       padding-top: 15rem;   
       padding-bottom: 5rem;
       margin: 0 auto;
   }

   .bottom-navigation{
    padding-bottom: 1rem;
   }
}
@media screen and (ma) {
    
}
@media screen and (max-width: 767px){
    .nav-wrapper {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
       
    }
    
    #hamburger-nav, .theme-switch-hamburger {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 4rem;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 1rem;
        z-index: 1000;
    }
    .homepage{
     
        width: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        justify-items: center;
        transform: scale(0.90);
    }
    .aboutme{
        margin-top: 4rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
    }
    .aboutmebox{
        width: 95%;
        margin: 0 auto;
    }
    .aboutmeboxtext{
      font-size: 16px;
    }
    .skills{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 7px;
        max-width: 750px;
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 0;
    }
    .skillspage{
        padding-bottom: 14rem;
    }
    .htmltab , .javascripttab, .csstab, .pythontab, .ctab{
        margin-top: 15px;
    }
    .projectpage{
        padding-top: 2.5rem;
        padding-bottom: 4.5rem;
    }
    .projects{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
        max-width: 450px;
        margin: 0 auto;
    }
    .project1image, .project2image, .project3image{
        width: 350px;
    }
    .project1, .project2{
        width: 45%;
        display: flex;
        justify-content: center;
    }
    .contactpage{
        padding-top: 15rem;   
        padding-bottom: 5rem;
        margin: 0 auto;
    }
    .bottom-navigation{
        padding-bottom: 1rem;
    }
}

@media screen and (max-width: 575px) {
    .nav-wrapper {
        display: flex;
        align-items: center;
        justify-content: center; /* Center horizontally */
      
    }
    
    #hamburger-nav, .theme-switch-hamburger {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 4rem 1rem 1rem 15rem; /* Center horizontally */
        z-index: 1000;
    
    }

    .theme-switch-hamburger {
        display: flex !important; /* Ensure it's visible */
    }

    .homepage{
     
        width: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        justify-items: center;
        transform: scale(0.87);
    }
    .aboutme{
        margin-top: 5rem;
        padding-top: 5rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        
    }
    .aboutmebox{
        width: 90%;
        margin: 0 auto;
    }
    .aboutmeboxtext{
      font-size: 17px;
    }
    .skills{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 7px;
        max-width: 750px;
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 0;
    }
    .skillspage{
        padding-bottom: 14rem;
        padding-top: 9rem;
    }
    .htmltab , .javascripttab, .csstab, .pythontab, .ctab{
        margin-top: 15px;
    }
    .projectpage{
        padding-top: 2.5rem;
        padding-bottom: 4.5rem;
    }
    .projects{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 3px;
        max-width: 400px;
        margin: 0 auto;
    }
    .project1image, .project2image, .project3image{
        width: 275px;
    }
    .project1, .project2{
        width: 45%;
        display: flex;
        justify-content: center;
    }
    .contactpage{
        padding-top: 15rem;   
        padding-bottom: 5rem;
        margin: 0 auto;
    }
    .bottom-navigation{
        padding-bottom: 1rem;
    }
}
