@media screen  and (max-width: 1400px) {
    .skills{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        max-width: 800px;
        margin: auto;
        padding-top: 0;
    }
    
    .projects{
        display: flex;
        align-items: center;
        width: 90%;
        margin: 0 auto;
      
    }

    .project1, .project2, .project3 {
        width: 90%;
        margin: 0 auto;
    }

}
@media screen and (max-width: 1199px) {
    .navigation_links {
        display: none; 
    }

    .theme-switch-hamburger {
        display: block !important; 
    }

    .nav-wrapper {
        display: flex;
        align-items: center;
      gap: 16rem;
        flex-direction: row-reverse;
       
    }

    #hamburger-nav, .theme-switch-hamburger {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 4rem;
        margin-left: 12rem;
        margin-right: 12rem;
        margin-bottom: 3rem;
    }

   

    .navigation_links .theme-switch {
        display: none;
    }

    .homepage{
        margin-top: 3.5rem;
    }

    .aboutme{
        margin-left: auto;
        margin-right: auto;
        margin-top: 10rem;
        margin-bottom: 10rem;




}


@media screen and (min-width: 1200px) {
    .theme-switch-hamburger {
        display: none; 
    }
}