
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');




body{
 background-color: ecf0f3;
}

/*  homepage */
.navigation_links{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-color:black;
  display: flex;
  justify-content: flex-end;
  font-family: "Poppins", sans-serif;
  margin-top: 25px;

}

li {
float: right;
justify-content: flex-start;
font-family: "Poppins", sans-serif;

}

li a{
  display: block;
  text-align: center;
  padding: 8px;
  text-decoration: none;  
  color: #000000;

}

.mainhome{
  margin-right: auto;
}

.text1 , .text2 , .text3{
  font-family: "Poppins", sans-serif;
  color:black;
  padding: 0;
  text-align: center;
  margin: 0;
  line-height: 1.9;
}

.profilepicture{
  
  width: 325px;
  height: 325px;
  border-radius: 50%;
  object-fit: cover;
  

}


.linkedinlogo , .githublogo{
  width: 40px;
  height: 40px;
  cursor: pointer;
  margin: 0 2px;
  
}

.linkedinlogo:hover , .githublogo:hover{
  transform: scale(1.15);
  transition: 0.3s ease;
  margin: 0 10;
}

.homepage{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: right;
}


.text1{
  font-size: 20px;
  font-weight: 400;
}

.text2 {
  font-size: 40px;
}

.text3{
  font-size: 20px;
}

/* About Me*/

.aboutme{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}
.aboutmetext1{
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 400;
  display: block;
  text-align: center;
}

.aboutmetext2{
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  display: block;
  text-align: center;
}

.aboutmebox{
  width: 50%;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.aboutmebox:hover{
  transform: scale(1.01);
  transition: 0.3s ease;
  margin: 0 10px;
}
.aboutmeboxtext{
  font-family: "Poppins", sans-serif;;
  font-size: 15px;
  text-align: center;
}

/* SKILLS */
.skills{
 display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5rem;
  
}

.skillheader1{
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-align: center;

}

.skillheader2{
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
margin-bottom: 5px;
}

.htmllogo , .javascriptlogo , .csslogo ,.pythonlogo{
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding-left: 10;
  margin-left: 5px;
}


.htmltab, .javascripttab, .csstab, .pythontab{
  display: flex;
  width: 75%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 0 5px;
  cursor: pointer;
  transition: transform 0.3s ease;

}
.htmltab:hover, .javascripttab:hover, .csstab:hover, .pythontab:hover{
transform: scale(1.1); 
transition: 0.3s ease;

margin: 0 15px;
}
.htmltext , .javascripttext , .csstext , .pythontext{
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  display: inline-block;
  margin-left: 12px;
  
}

/* Projects*/

.projectpage{
  text-align: center;
  margin-top: 5rem;
}
.projects{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.projectheader1 {
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 400;
  text-align: center;
 
}
.projectheader2{
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.projecttext{
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  text-align: center;
}
.projectbox1 , .projectbox2 , .projectbox3{
  width: 25%;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
  margin: 0 8px ;
  margin-top: 2rem;
  cursor: pointer;
}
.project1image, .project2image, .project3image{
  width: 100%;
  height: auto;
  max-width: 200px;
  object-fit: cover;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
}

.visitprojectbutton1, 
.visitprojectbutton2, 
.visitprojectbutton3, 
.githubbutton {
  margin-top: 5px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  background-color: black;
  color: white; 
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
}

.visitprojectbutton1:hover, 
.visitprojectbutton2:hover, 
.visitprojectbutton3:hover, 
.githubbutton:hover {
  background-color: white; 
  color: black; 
  transform: scale(1.1); 
}


.projectbox1:hover, .projectbox2:hover, .projectbox3:hover{
  transform: scale(1.05);
  transition: 0.4s ease;
  margin: 0 10px;
}