
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');




body{
 background-color: ecf0f3;
}

/*  homepage */
.navigation_links{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-color:black;
  display: flex;
  justify-content: flex-end;
  font-family: "Poppins", sans-serif;
  margin-top: 25px;

}

li {
float: right;
justify-content: flex-start;
font-family: "Poppins", sans-serif;

}

li a{
  display: block;
  text-align: center;
  padding: 8px;
  text-decoration: none;  
  color: #000000;

}

.mainhome{
  margin-right: auto;
}

.text1 , .text2 , .text3{
  font-family: "Poppins", sans-serif;
  display: block;
  color:black;
  padding: 0;
  text-align: center;
}

.profilepicture{
  
  width: 325px;
  height: 325px;
  border-radius: 50%;
  object-fit: cover;
  

}


.linkedinlogo , .githublogo{
  width: 40px;
  height: 40px;
  cursor: pointer;
  padding-left: 10;

}

.homepage{
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: right;
}


.text1{
  font-size: 40px;
}

.text2 {
  font-size: 25px;
}

.text3{
  font-size: 25px;
}
/* About Me*/

.aboutme{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
}
.aboutmetext1, .aboutmetext2{
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 500;
  display: block;
  text-align: center;
}
.aboutmebox{
  width: 50%;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.aboutmeboxtext{
  font-family: "Poppins", sans-serif;;
  font-size: 15px;
  text-align: center;
}

/* SKILLS */
.skills{
 display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5rem;
  
}

.skillheader{
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  margin-top: 70px;
}

.htmllogo , .javascriptlogo , .csslogo ,.pythonlogo{
  width: 50px;
  height: 50px;
  cursor: pointer;
  padding-left: 10;
}

.htmltab, .javascripttab, .csstab, .pythontab{
  display: flex;
  width: 75%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 5px;

}

.htmltext , .javascripttext , .csstext , .pythontext{
  font-family: "Poppins", sans-serif;
  font-size: 15px;
  display: inline-block;
  
}

